      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <a class="brand" href="/">Flashdown</a>
            <div class="nav-collapse">
              <ul class="nav">
                  <li>
                      <a class="active" href="#">
                          <i class="icon-home"></i>
                          Dashboard
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="icon-play"></i>
                          Link1
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="icon-search"></i>
                          Link2
                      </a>
                  </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container -->
        </div><!--/.navbar-inner -->
      </div><!--/.navbar-fixed-top -->

